<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALSFJZHual_wpHcBCk2Fst8G2E2iRZYMM</string>
	<key>GCM_SENDER_ID</key>
	<string>899513564439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darulasar.cdlPro</string>
	<key>PROJECT_ID</key>
	<string>cdl-pro-cb12c</string>
	<key>STORAGE_BUCKET</key>
	<string>cdl-pro-cb12c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899513564439:ios:49395974a48047a24a4b52</string>
</dict>
</plist>